#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman zammad-postgresql.service
BindsTo=zammad.service
After=zammad.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/zammad-postgresql.pid %t/zammad-postgresql.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zammad-postgresql.pid \
    --cidfile %t/zammad-postgresql.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zammad.pod-id --replace -d --name zammad-postgresql \
    --env-file=%S/state/environment \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    --volume %S/state/restore/:/docker-entrypoint-initdb.d/:Z \
    --env POSTGRES_DB=zammad_production \
    --env POSTGRES_USER=zammad \
    --env POSTGRES_PASS= \
    --env POSTGRESQL_DB=zammad_production \
    --env POSTGRESQL_HOST=zammad-postgresql \
    --env POSTGRESQL_USER=zammad \
    --env POSTGRESQL_PASS=zammad \
    --env POSTGRESQL_PORT=5432 \
    --env POSTGRES_HOST_AUTH_METHOD=trust \
    --env TZ=UTC \
    ${POSTGRES_IMAGE}
ExecStartPost=/usr/bin/bash -c "while ! podman  exec zammad-postgresql psql -U zammad -d zammad_production ;  do sleep 5 ; done"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zammad-postgresql.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zammad-postgresql.ctr-id
ExecReload=/usr/bin/podman kill -s HUP zammad-postgresql
SyslogIdentifier=%u
PIDFile=%t/zammad-postgresql.pid
Type=forking

[Install]
WantedBy=default.target