#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zammad-nginx.service
BindsTo=zammad.service
After=zammad.service zammad-postgresql.service zammad-memcached.service zammad-redis.service zammad-railsserver.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/zammad-nginx.pid %t/zammad-nginx.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zammad-nginx.pid \
    --cidfile %t/zammad-nginx.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zammad.pod-id --replace -d --name  zammad-nginx \
    --env-file=%S/state/environment \
    --volume zammad-storage:/opt/zammad/storage:Z \
    --env MEMCACHE_SERVERS=zammad-memcached:11211 \
    --env POSTGRESQL_DB=zammad_production \
    --env POSTGRESQL_HOST=zammad-postgresql \
    --env POSTGRESQL_USER=zammad \
    --env POSTGRESQL_PASS=zammad \
    --env POSTGRESQL_PORT=5432 \
    --env REDIS_URL=redis://zammad-redis:6379 \
    --env NGINX_SERVER_SCHEME=https \
    ${ZAMMAD_IMAGE} zammad-nginx
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zammad-nginx.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zammad-nginx
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zammad-nginx.ctr-id
PIDFile=%t/zammad-nginx.pid
Type=forking

[Install]
WantedBy=default.target