#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zammad-backup.service
BindsTo=zammad.service
After=zammad.service zammad-railsserver.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p scripts && cp -n %S/scripts %S/state/scripts
ExecStartPre=/bin/rm -f %t/zammad-backup.pid %t/zammad-backup.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zammad-backup.pid \
    --cidfile %t/zammad-backup.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zammad.pod-id --replace -d --name  zammad-backup \
    --env-file=%S/state/environment \
    --env BACKUP_TIME=03:00 \
    --env HOLD_DAYS=10 \
    --volume zammad-backup:/var/tmp/zammad:z \
    --volume zammad-storage:/opt/zammad/storage:ro \
    --volume ./scripts/backup.sh:/usr/local/bin/backup.sh:ro \
    ${POSTGRES_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zammad-backup.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zammad-backup
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zammad-backup.ctr-id
PIDFile=%t/zammad-backup.pid
Type=forking

[Install]
WantedBy=default.target
