#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a zammad instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman zammad.service
Requires=zammad-postgresql.service zammad-redis.service zammad-memcached.service zammad-railsserver.service zammad-init.service zammad-elasticsearch.service zammad-nginx.service zammad-scheduler.service zammad-websocket.service zammad-backup.service
Before=zammad-postgresql.service zammad-redis.service zammad-memcached.service zammad-railsserver.service zammad-init.service zammad-elasticsearch.service zammad-nginx.service zammad-scheduler.service zammad-websocket.service zammad-backup.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/zammad.pid %t/zammad.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/zammad.pid \
    --pod-id-file %t/zammad.pod-id \
    --name zammad \
    --publish 127.0.0.1:${TCP_PORT}:8080 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/zammad.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/zammad.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/zammad.pod-id
PIDFile=%t/zammad.pid
Type=forking

[Install]
WantedBy=default.target