#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  zammad-redis.service
BindsTo=zammad.service
After=zammad.service zammad-postgresql.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/zammad-redis.pid %t/zammad-redis.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/zammad-redis.pid \
    --cidfile %t/zammad-redis.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/zammad.pod-id --replace -d --name  zammad-redis \
    --env-file=%S/state/environment \
    --volume redis-data:/data:z \
    ${REDIS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/zammad-redis.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP zammad-redis
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/zammad-redis.ctr-id
PIDFile=%t/zammad-redis.pid
Type=forking

[Install]
WantedBy=default.target
